<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5 text-center">
                <img src="/img/cecilia_pizarra.png" class="img-responsive">
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">

                <h2 class="section-heading">Cecilia Richards</h2>
                <hr class="light">
                <p class="text-faded"><strong>María Cecilia Richards Torres</strong> nació  en la ciudad de Ovalle,  el 12 de noviembre de 1946.  En dicha ciudad,  cursa sus estudios primarios y secundarios.  Muy tempranamente aprende música  con su madre, interpretando varios instrumentos y realizando clases de acordeón.    En 1964, se traslada a Santiago  para  estudiar Pedagogía en Castellano en la Universidad de Chile, obteniendo  su título de Profesora de Estado.  </p>
            </div>
        </div>
    </div>
</section>
