<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6 project-container project-container">
                <a href="https://drive.google.com/open?id=157AKG68CSg7iZOzvU35Eff8Q3OVfIYox" target="_blank" class="portfolio-box">
                    
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Lanzamiento
                            </div>
                            <div class="project-name">
                                Santiago
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-4 col-sm-6 project-container">
                <a href="https://drive.google.com/open?id=1hcTkFu0nM8ZeyOnVte2hzUugSMOMpEpV" target="_blank" class="portfolio-box">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Lanzamiento
                            </div>
                            <div class="project-name">
                                Talca
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-4 col-sm-6 project-container">
                <a href="https://drive.google.com/drive/folders/1HTG_MOtuhk018JC7RwrgvJRGnSfiw0ql?usp=sharing" target="_blank" class="portfolio-box">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Lanzamiento
                            </div>
                            <div class="project-name">
                                Temuco
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 project-container">
                <a href="https://drive.google.com/open?id=1hcTkFu0nM8ZeyOnVte2hzUugSMOMpEpV" target="_blank" class="portfolio-box">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Lanzamiento
                            </div>
                            <div class="project-name">
                                Valparaíso
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 project-container">
                <a href="https://drive.google.com/open?id=1e9m-i6fL315IFAeK7CYPSPf04kaMHWcd" target="_blank" class="portfolio-box">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Lanzamiento
                            </div>
                            <div class="project-name">
                                Ovalle
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 project-container">
                <a href="https://drive.google.com/open?id=1e9m-i6fL315IFAeK7CYPSPf04kaMHWcd" target="_blank" class="portfolio-box">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Prensa
                            </div>
                            <div class="project-name">
                                Boletín RedInfforma
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 project-container">
                <a href="http://www.revistadeeducacion.cl/el-desafio-de-aprender-el-desafio-de-ensenar/" target="_blank" class="portfolio-box">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Prensa
                            </div>
                            <div class="project-name">
                                Revista de Educación
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 project-container">
                <a href="http://www.revistadeeducacion.cl/el-desafio-de-aprender-el-desafio-de-ensenar/" target="_blank" class="portfolio-box">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Prensa
                            </div>
                            <div class="project-name">
                                Revista Mensaje
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
